{{#DataSource}}
{{#Records}}
insert into {{_nx.Name}}_TBL (
{{#Fields}}
  {{.}}{{^-last}},{{/-last}}
{{/Fields}}
) values (
{{#.}}
  '{{{.}}}'{{^-last}},{{/-last}}
{{/.}}
);
{{/Records}}
commit;
{{/DataSource}}
