[submodule "lib/synapse"]
	path = lib/synapse
	url = https://github.com/geby/synapse
	branch = master
[submodule "lib/dmustache"]
	path = lib/dmustache
	url = https://github.com/nxrp-dev/dmustache.git
	branch = master
[submodule "lib/pasbuild"]
	path = lib/pasbuild
	url = https://github.com/graemeg/PasBuild.git
	branch = master
[submodule "lib/fpgui"]
	path = lib/fpgui
	url = https://github.com/graemeg/fpgui.git
	branch = develop
