<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="emailFrom" value="onyxbuildindigo@gmail.com" />

    <add key="emailUserID" value="onyxbuildindigo@gmail.com" />
    <add key="emailPassword" value="IndigoT3ch" />

    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="emailPort" value="587" />
    <add key="emailEnableSSL" value="true" />
  </appSettings>
</configuration>
