"{{{Compiler}}}" -n -Mdelphi "{{{EntryPoint}}}" "-o{{{Output}}}" "-FU{{{UnitOutput}}}"{{#UnitPaths}} "-Fu{{{.}}}"{{/UnitPaths}}{{#IncludePaths}} "-Fi{{{.}}}"{{/IncludePaths}}{{#Defines}} -d{{{.}}}{{/Defines}}{{#_nx.SourcePaths}} "-Fu{{{.}}}"{{/_nx.SourcePaths}}
