"{{{Compiler}}}" -n -Mdelphi "{{{Source}}}" "-o{{{Output}}}" "-FU{{{UnitOutput}}}"{{#UnitPaths}} "-Fu{{{.}}}"{{/UnitPaths}}{{#IncludePaths}} "-Fi{{{.}}}"{{/IncludePaths}}{{#Defines}} -d{{{.}}}{{/Defines}}
