{{#Compiler}}"{{{Compiler}}}"{{/Compiler}}{{^Compiler}}fpc{{/Compiler}} "{{{EntryPoint}}}" "-o{{{Output}}}"{{#UnitOutput}} "-FU{{{UnitOutput}}}"{{/UnitOutput}}{{#Defines}} -d{{{.}}}{{/Defines}}{{#_nx.SourcePaths}} "-Fu{{{.}}}"{{/_nx.SourcePaths}}
