{{#Executable}}"{{{Executable}}}"{{/Executable}}{{^Executable}}ISCC.exe{{/Executable}}{{#Quiet}} /Q{{/Quiet}}{{#Arguments}} "{{{.}}}"{{/Arguments}}{{#Defines}} "/D{{{.}}}"{{/Defines}}{{#OutputDirectory}} "/O{{{OutputDirectory}}}"{{/OutputDirectory}}{{#OutputBaseFilename}} "/F{{{OutputBaseFilename}}}"{{/OutputBaseFilename}} "{{{EntryPoint}}}"
