{{#Executable}}"{{{Executable}}}"{{/Executable}}{{^Executable}}lazbuild{{/Executable}}{{#PrimaryConfigPath}} "--pcp={{{PrimaryConfigPath}}}"{{/PrimaryConfigPath}}{{#LazarusDirectory}} "--lazarusdir={{{LazarusDirectory}}}"{{/LazarusDirectory}}{{#Quiet}} --quiet{{/Quiet}}{{#BuildAll}} --build-all{{/BuildAll}} "{{{EntryPoint}}}"
